# Lombok Configuration
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.accessors.chain = true
lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = false
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call
lombok.data.flagUsage = error
lombok.value.flagUsage = error
lombok.experimental.flagUsage = warning
lombok.log.fieldName = log
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier